<extend name="Public/base" />
<!-- 管理员用户组新增和编辑页面 -->
<block name="body">
	<div class="main-title">
		<h2>用户重置密码</h2>
	</div>

    <form action="{:U('repassword')}" enctype="application/x-www-form-urlencoded" method="POST"
            class="form-horizontal form-inline ">
    	<div class="form-item">					
			<label>被修改密码的用户</label>
			<div class="input-group">
					<span class="input-group-addon glyphicon glyphicon-user"></span>
					<input type="text" class="form-control" disabled="disabled" value="{$user.username}" name="xbm">
			</div>
		</div>
		<br/>

		<div class="form-item">					
			<label>新 密 码</label>
			<div class="input-group">
					<span class="input-group-addon glyphicon glyphicon-user"></span>
					<input type="password" name="password" class="text form-control" autocomplete="off">
			</div>
		</div>
    	<br/>
    	<div class="form-item">					
			<label>确 认 密 码</label>
			<div class="input-group">
					<span class="input-group-addon glyphicon glyphicon-user"></span>
					<input type="password" name="repassword" class="text form-control" autocomplete="off">
			</div>
		</div>
    	<br/>
        <div class="form-item">
            <input type="hidden" name="id" value="{$user.id}" />
            <button type="submit" class="btn btn-default submit-btn ajax-post" target-form="form-horizontal">确 定</button>
            <button class="btn btn-default btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
        </div>
    </form>
</block>
<block name="script">
<script type="text/javascript" charset="utf-8">
    //导航高亮
    highlight_subnav('{:U('AuthManager/index')}');
</script>
</block>