<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<title>微信请假</title>
	<meta charset='utf-8'>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="format-detection" content="telephone=no">
	<meta name="format-detection" content="email=no">
	<link rel="stylesheet" href="__CSS__/bootstrap.min.css">
	<link rel="stylesheet" href="__CSS__/style.css">
</head>
<body class="my-wechatHoli-body">
	<p class="text-center my-wechatHoli-header">微信请假</p>
	
	<ul class="text-center my-wechatHoli-panel">
		<a href="{:U('StuForm')}">
			<li class="my-wechatHoli-btn">
				<span class="glyphicon glyphicon-plus my-wechatHoli-btn-glyphicon"></span> 
				<span class="my-wechatHoli-btn-title">请假申请</span>	
			</li>
		</a>
		<a href="{:U('StuList')}">
			<li class="my-wechatHoli-btn">
				<span class="glyphicon glyphicon-search my-wechatHoli-btn-glyphicon"></span> 
				<span class="my-wechatHoli-btn-title">查看结果</span>
			</li>
		</a>
	</ul>		
</body>