<div class="cf">
	<div class="fl">



<ul class="nav nav-tabs" role="tablist">
  <li role="presentation" class="active"><a href="#stu_acad" role="tab" data-toggle="tab">学籍信息</a></li>
  <li role="presentation"><a href="#stu_natu" role="tab" data-toggle="tab">自然信息</a></li>
  <li role="presentation"><a href="#stu_cont" role="tab" data-toggle="tab">联系信息</a></li>
  <li role="presentation"><a href="#stu_stud" role="tab" data-toggle="tab">学业排名信息</a></li>
  <li role="presentation"><a href="#stu_rewa" role="tab" data-toggle="tab">奖惩情况信息</a></li>
  <li role="presentation"><a href="#stu_work" role="tab" data-toggle="tab">任职情况信息</a></li>
  <li role="presentation"><a href="#stu_sskh" role="tab" data-toggle="tab">宿舍情况信息</a></li>
</ul>









<!--

		<ul class="nav nav-tabs" role="tablist">
			<li <eq name="id" value="1">class="active"</eq>>
				<a href="{:U('edit','id='.$list['id'])}">学籍信息</a>
			</li>
			<li <eq name="id" value="2">class="active"</eq>>
				<a href="{:U('stu_nature_information','id='.$list['id'])}">自然信息</a>
			</li>
			<li <eq name="id" value="2">class="active"</eq>>
				<a href="{:U('stu_contact_information','id='.$list['id'])}">联系信息</a>
			</li>
			<li <eq name="id" value="2">class="active"</eq>>
				<a href="{:U('stu_study_rank','uid='.$list['uid'])}">学业排名信息</a>
			</li>
			<li <eq name="id" value="2">class="active"</eq>>
				<a href="{:U('stu_reward_punishment','uid='.$list['uid'])}">奖惩情况信息</a>
			</li>
			<li <eq name="id" value="2">class="active"</eq>>
				<a class="btn" href="{:U('stu_work','uid='.$list['uid'])}">任职情况信息</a>
			</li>
		</ul>
-->
	</div>
</div>
<br/>
