<extend name="Public/base"/>
<block name="body">
    <div class="main-title">
        <h2><present name="data">[ {$data.title} ] 子</present>菜单管理 </h2>
    </div>

    <div class="cf">
	    <div class="btn-group">
		    <button type="button" class="btn btn-default" >
			    <a href="{:U('add',array('pid'=>I('get.pid',0)))}">
			    	新增
			    </a>
		    </button>
		     <button class="btn btn-default ajax-get confirm"  url="{:U('del')}" target-form="ids">删 除</button>
		</div>
		<div class="sleft search-type">
			<div class="form-group has-success has-feedback">
			  <input type="text" value="{:I('name')}" name="name" class="form-control serach-input-type"  placeholder="请输入菜单名称">
			  <a class="sch-btn" href="javascript:;" id="xgxt-search-box" url="{:U('',array('pid'=>I('get.pid',0)))}"><span class="glyphicon glyphicon-search form-control-feedback"></span></a>
			</div>
		</div>

        <!--  高级搜索 
        <div class="search-form fr cf">
        
            <div class="sleft">
                <input type="text" name="title" class="search-input" value="{:I('title')}" placeholder="请输入菜单名称">
                <a class="sch-btn" href="javascript:;" id="search" url="__SELF__"><i class="btn-search"></i></a>
            </div>
        

        </div> -->
    </div>





    <br/>
    <div class="table-responsive my-notice-table">
					  <table class="table table-bordered table-hover">
					    <thead>
						    <tr class="info">
						        <th class="row-selected"><input class="checkbox check-all" type="checkbox"></td>
		                        <td>ID</td>
		                        <td>图标</td>
		                        <td>名称</td>
		                        <td>上级菜单</td>
		                        <td>分组</td>
		                        <td>URL</td>
		                        <td>排序</td>
		                        <td>仅开发者模式显示</td>
		                        <td>隐藏</td>
		                        <td>操作</td>
						    </tr>
					    </thead>
					    <tbody>
					    <notempty name="list">
                		<volist name="list" id="menu">
						    <tr>
							    <td>
							   <input class="ids row-selected" type="checkbox" name="id[]"  value="{$menu['id']}">
							    </td>
							    <td>
							    	{$menu.id}
							    </td>
							    <td>
							    	<span class="$menu.icon"></span>
							    </td>
							    <td>
							    	<a href="{:U('index?pid='.$menu['id'])}">{$menu.title}</a>
							    </td>
							    <td>
							    	{$menu.up_title|default='无'}
							    </td>
					    		<td>
					    			{$menu.group}
					    		</td>
					    		<td>
					    			{$menu.url}
					    		</td>
					    		<td>
					    			{$menu.sort}
					    		</td>
					    		<td>
					    			<a href="{:U('toogleDev',array('id'=>$menu['id'],'value'=>abs($menu['is_dev']-1)))}" class="ajax-get">
                            			{$menu.is_dev_text}
                            		</a>
					    		</td>
					    		<td>
					    			<a href="{:U('toogleHide',array('id'=>$menu['id'],'value'=>abs($menu['hide']-1)))}" class="ajax-get">
                            			{$menu.hide_text}
                            		</a>
					    		</td>
					    		<td>
					    			<a title="编辑" href="{:U('edit?id='.$menu['id'])}">
					    				编辑
					    			</a>
                            		<a class="confirm ajax-get" title="删除" href="{:U('del?id='.$menu['id'])}">
                            			删除
                            		</a>
								</td>					    
							  </tr>
							 
							</volist>
							<else/>
							<td colspan="10" class="text-center"> aOh! 暂时还没有内容! </td>
							</notempty>
					    </tbody>
					  </table>
					  <div class="page">

        			  </div>
					</div>
    </div>
</block>

<block name="script">
    <script type="text/javascript">
        $(function() {
            //搜索功能
            $("#search").click(function() {
                var url = $(this).attr('url');
                var query = $('.search-form').find('input').serialize();
                query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g, '');
                query = query.replace(/^&/g, '');
                if (url.indexOf('?') > 0) {
                    url += '&' + query;
                } else {
                    url += '?' + query;
                }
                window.location.href = url;
            });
            //回车搜索
            $(".search-input").keyup(function(e) {
                if (e.keyCode === 13) {
                    $("#search").click();
                    return false;
                }
            });
            //导航高亮
            highlight_subnav('{:U('index')}');
            //点击排序
        	$('.list_sort').click(function(){
        		var url = $(this).attr('url');
        		var ids = $('.ids:checked');
        		var param = '';
        		if(ids.length > 0){
        			var str = new Array();
        			ids.each(function(){
        				str.push($(this).val());
        			});
        			param = str.join(',');
        		}

        		if(url != undefined && url != ''){
        			window.location.href = url + '/ids/' + param;
        		}
        	});
        });
    </script>
</block>