<extend name="Public/base"/>
<block name="body">
	<div class="main-title">
		<h2>网站设置</h2>


<div>
				<div>
					<ul class="nav nav-tabs" role="tablist">
  						<li role="presentation" class="active">
  							<a href="#tab1" role="tab" data-toggle="tab">基本设置</a>
  						</li>
  						<li role="presentation">
  							<a href="#tab2" role="tab" data-toggle="tab">申请设置</a>
  						</li>
  						<li role="presentation">
  							<a href="#tab3" role="tab" data-toggle="tab">助学金介绍</a>
  						</li>
  						<li role="presentation">
  							<a href="#tab4" role="tab" data-toggle="tab">评奖规则</a>
  						</li>
					</ul>

					<!-- Tab panes -->
					<div class="tab-content">
					  <div role="tabpanel" class="tab-pane active" id="tab1">
					  	<div>
					  		<div>
								<label>名称</label>
								<div class="input-group">
  									<span class="input-group-addon glyphicon glyphicon-text-height"></span>
  									<input type="text" class="form-control">
								</div>
							</div>
							<div>
							    <label>是否使用</label>
							    	<span class="glyphicon glyphicon-text-height"></span>
									<select>
										<option value="1">是</option>
										<option value="2">否</option>
									</select>	
							</div>
							<div>
							    <label>重复申请</label>
							    	<span class="glyphicon glyphicon-text-height"></span>
									<select>
										<option value="1">是</option>
										<option value="2">否</option>
									</select>	
							</div>
							<div>
								<label>当前批次</label>
								<div class="input-group">
			  						<span class="input-group-addon glyphicon glyphicon-font"></span>
			  						<input type="text" class="form-control">
								</div>
							</div>
							<div>
								<label>筛选人数</label>
								<div class="input-group">
			  						<span class="input-group-addon glyphicon glyphicon-font"></span>
			  						<input type="text" class="form-control">
								</div>
							</div>
							<div>
								<label>开始日期</label>
								<div class="input-group">
			  						<span class="input-group-addon glyphicon glyphicon-time"></span>
			  						<input type="text" class="form-control">
								</div>
							</div>
							<div>
								<label>结束日期</label>
								<div class="input-group">
			  						<span class="input-group-addon glyphicon glyphicon-time"></span>
			  						<input type="text" class="form-control">
								</div>
							</div>
							<div>
								<button type="button" class="btn btn-success"><span class="glyphicon glyphicon-ok"></span>新增</button>
								<button type="button" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span>重置</button>
							</div>
					  	</div>
					  </div>
					  <div role="tabpanel" class="tab-pane" id="tab2">
					  	<div>
					  		<div>
								<label>卓培部</label>
								<div class="input-group">
			  						<span class="input-group-addon glyphicon glyphicon-list"></span>
			  						<input type="text" class="form-control" placeholder="0">
								</div>
							</div>
							<div>
								<label>文学院</label>
								<div class="input-group">
			  						<span class="input-group-addon glyphicon glyphicon-list"></span>
			  						<input type="text" class="form-control" placeholder="0">
								</div>
							</div>
							<div>
								<label>语科院</label>
								<div class="input-group">
			  						<span class="input-group-addon glyphicon glyphicon-list"></span>
			  						<input type="text" class="form-control" placeholder="0">
								</div>
							</div><div>
								<label>历旅学院</label>
								<div class="input-group">
			  						<span class="input-group-addon glyphicon glyphicon-list"></span>
			  						<input type="text" class="form-control" placeholder="0">
								</div>
							</div>
							<div>
								<label>法政学院</label>
								<div class="input-group">
			  						<span class="input-group-addon glyphicon glyphicon-list"></span>
			  						<input type="text" class="form-control" placeholder="0">
								</div>
							</div>
							<div>
								<label>马克思主义学院</label>
								<div class="input-group">
			  						<span class="input-group-addon glyphicon glyphicon-list"></span>
			  						<input type="text" class="form-control" placeholder="0">
								</div>
							</div>
							<div>
								<label>外语学院</label>
								<div class="input-group">
			  						<span class="input-group-addon glyphicon glyphicon-list"></span>
			  						<input type="text" class="form-control" placeholder="0">
								</div>
							</div>
							<div>
								<label>教科院</label>
								<div class="input-group">
			  						<span class="input-group-addon glyphicon glyphicon-list"></span>
			  						<input type="text" class="form-control" placeholder="0">
								</div>
							</div>
							<div>
								<label>教师学院</label>
								<div class="input-group">
			  						<span class="input-group-addon glyphicon glyphicon-list"></span>
			  						<input type="text" class="form-control" placeholder="0">
								</div>
							</div>
							<div>
								<label>数统学院</label>
								<div class="input-group">
			  						<span class="input-group-addon glyphicon glyphicon-list"></span>
			  						<input type="text" class="form-control" placeholder="0">
								</div>
							</div>
							<div>
								<label>物电学院</label>
								<div class="input-group">
			  						<span class="input-group-addon glyphicon glyphicon-list"></span>
			  						<input type="text" class="form-control" placeholder="0">
								</div>
							</div>
							<div>
								<label>化学学院</label>
								<div class="input-group">
			  						<span class="input-group-addon glyphicon glyphicon-list"></span>
			  						<input type="text" class="form-control" placeholder="0">
								</div>
							</div>
							<div>
								<label>生科院</label>
								<div class="input-group">
			  						<span class="input-group-addon glyphicon glyphicon-list"></span>
			  						<input type="text" class="form-control" placeholder="0">
								</div>
							</div>
							<div>
								<label>城环学院</label>
								<div class="input-group">
			  						<span class="input-group-addon glyphicon glyphicon-list"></span>
			  						<input type="text" class="form-control" placeholder="0">
								</div>
							</div>
							<div>
								<label>测绘学院</label>
								<div class="input-group">
			  						<span class="input-group-addon glyphicon glyphicon-list"></span>
			  						<input type="text" class="form-control" placeholder="0">
								</div>
							</div>
							<div>
								<label>体育学院</label>
								<div class="input-group">
			  						<span class="input-group-addon glyphicon glyphicon-list"></span>
			  						<input type="text" class="form-control" placeholder="0">
								</div>
							</div>
							<div>
								<label>音乐学院</label>
								<div class="input-group">
			  						<span class="input-group-addon glyphicon glyphicon-list"></span>
			  						<input type="text" class="form-control" placeholder="Username">
								</div>
							</div>
							<div>
								<label>美术学院</label>
								<div class="input-group">
			  						<span class="input-group-addon glyphicon glyphicon-list"></span>
			  						<input type="text" class="form-control" placeholder="0">
								</div>
							</div>
							<div>
								<label>传媒学院</label>
								<div class="input-group">
			  						<span class="input-group-addon glyphicon glyphicon-list"></span>
			  						<input type="text" class="form-control" placeholder="0">
								</div>
							</div>
							<div>
								<label>商学院</label>
								<div class="input-group">
			  						<span class="input-group-addon glyphicon glyphicon-list"></span>
			  						<input type="text" class="form-control" placeholder="0">
								</div>
							</div>
							<div>
								<label>中俄学院</label>
								<div class="input-group">
			  						<span class="input-group-addon glyphicon glyphicon-list"></span>
			  						<input type="text" class="form-control" placeholder="0">
								</div>
							</div>
							<div>
								<label>计算机学院</label>
								<div class="input-group">
			  						<span class="input-group-addon glyphicon glyphicon-list"></span>
			  						<input type="text" class="form-control" placeholder="0">
								</div>
							</div>
							<div>
								<label>机电学院</label>
								<div class="input-group">
			  						<span class="input-group-addon glyphicon glyphicon-list"></span>
			  						<input type="text" class="form-control" placeholder="0">
								</div>
							</div>
							<div>
								<label>电气学院</label>
								<div class="input-group">
			  						<span class="input-group-addon glyphicon glyphicon-list"></span>
			  						<input type="text" class="form-control" placeholder="0">
								</div>
							</div>
					  	</div>

					  </div>
					  <div role="tabpanel" class="tab-pane" id="tab3">
					  		<div>
					  			<div>
								    <lable>奖助学金介绍</lable>
								    <textarea rows="12"></textarea>
								</div>
								<div>
									<button type="button" class="btn btn-success"><span class="glyphicon glyphicon-ok"></span>新增</button>
									<button type="button" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span>重置</button>
								</div>
					  		</div>
					  </div>
					  <div role="tabpanel" class="tab-pane" id="tab4">
					  		<div>
					  			<div>
					  			<div>
								    <lable>评奖规则</lable>
								    <textarea rows="12"></textarea>
								</div>
								<div>
									<button type="button" class="btn btn-success"><span class="glyphicon glyphicon-ok"></span>新增</button>
									<button type="button" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span>重置</button>
								</div>
					  		</div>
					  		</div>
					  </div>
					</div>
				</div>
			</div>





		
	</div>
		<div class="tab-wrap">
		<ul class="tab-nav nav">
		<volist name="Think.config.CONFIG_GROUP_LIST" id="group">

			<li <eq name="id" value="$key">class="current"</eq>><a href="{:U('?id='.$key)}">{$group}配置</a></li>

		</volist>
		</ul>
		<div class="tab-content">
	<form action="{:U('save')}" method="post" class="form-horizontal">
	<volist name="list" id="config">
		<div class="form-item">
			<label class="item-label">{$config.title}<span class="check-tips">（{$config.remark}）</span> </label>
			<div class="controls">
			<switch name="config.type">
			<case value="0">
			<input type="text" class="text input-small" name="config[{$config.name}]" value="{$config.value}">
			</case>
			<case value="1">
			<input type="text" class="text input-large" name="config[{$config.name}]" value="{$config.value}">
			</case>
			<case value="2">
			<label class="textarea input-large">
				<textarea name="config[{$config.name}]">{$config.value}</textarea>
			</label>
			</case>
			<case value="3">
			<label class="textarea input-large">
				<textarea name="config[{$config.name}]">{$config.value}</textarea>
			</label>
			</case>
			<case value="4">
			<select name="config[{$config.name}]">
				<volist name=":parse_config_attr($config['extra'])" id="vo">
					<option value="{$key}" <eq name="config.value" value="$key">selected</eq>>{$vo}</option>
				</volist>
			</select>
			</case>
			</switch>
				
			</div>
		</div>
		</volist>
		<div class="form-item">
			<label class="item-label"></label>
			<div class="controls">
				<empty name="list"><button type="submit" disabled class="btn submit-btn disabled" target-form="form-horizontal">确 定</button><else/><button type="submit" class="btn submit-btn ajax-post" target-form="form-horizontal">确 定</button></empty>
				
				<button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
			</div>
		</div>
	</form>
			</div>
	</div>
</block>

<block name="script">

</block>-->
