<extend name="Public/base" />
<block name="body">
	<!-- 标题栏 -->

	<div class="main-title">
		<h2>用户列表</h2>
	</div>

	<div class="cf">
		<div class="fl">
		<div class="btn-group" style="display:inline;">
			  <button type="button" class="btn btn-default"><a href="{:U('add')}">新 增</a></button>
			  <button type="button" class="btn btn-default ajax-post" url="{:U('changeStatus?method=resumeUser')}" target-form="ids">启 用</button>
			  <button type="button" class="btn btn-default ajax-post" url="{:U('changeStatus?method=forbidUser')}" target-form="ids">禁 用</button>
			  <button type="button" class="btn btn-default ajax-post confirm" url="{:U('changeStatus?method=deleteUser')}" target-form="ids">删 除</button>
		<div class="sleft search-type" style="display:inline; padding-left=20px;">
			<form class="form-inline">
				<div class="form-group has-success has-feedback">
				  <input type="text" value="{:I('name')}" name="name" class="form-control serach-input-type"  placeholder="请输入姓名或者校园卡号"><a class="sch-btn" href="javascript:;" id="xgxt-search-box" url="{:U('index')}"><span class="glyphicon glyphicon-search form-control-feedback"></span></a>
				</div>
			</form>
		</div>
		</div>
		

<!--原来搜索
		<div class="search-form fr cf" style="display:inline;">
			<div class="sleft">
				<input type="text" name="nickname" class="search-input" value="{:I('nickname')}" placeholder="请输入用户昵称或者ID">
				<a class="sch-btn" href="javascript:;" id="search" url="{:U('index')}"><i class="btn-search"></i></a>
			</div>
		</div>
-->

		<!--
            <a class="btn" href="{:U('add')}">新 增</a>
            <button class="btn ajax-post" url="{:U('changeStatus?method=resumeUser')}" target-form="ids">启 用
            </button>
            <button class="btn ajax-post" url="{:U('changeStatus?method=forbidUser')}" target-form="ids">禁 用
            </button>
            <button class="btn ajax-post confirm" url="{:U('changeStatus?method=deleteUser')}" target-form="ids">删 除
            </button>
        -->
    	</div>
        <!-- 高级搜索 -->
    </div>
    <!-- 数据列表 -->
    <br/>
    <div class="table-responsive my-notice-table">
	<table class="table table-bordered table-hover">
    <tdead>
        <tr class="info">
		<td class="row-selected row-selected"><input class="check-all" type="checkbox"/></td>
		<td class="">姓名</td>
		<td class="">姓名拼音</td>
		<td class="">校园卡号</td>
		<td class="">性别</td>
		<td class="">部门</td>
		<td class="">角色</td>
		<td class="">最后登录时间</td>
		<td class="">最后登录IP</td>
		<td class="">状态</td>
		<td class="">操作</td>
		</tr>
    </tdead>
    <tbody>
		<notempty name="_list">
		<volist name="_list" id="vo">
		<tr>
            <td><input class="ids" type="checkbox" name="id[]" value="{$vo.uid}" /></td>
			<td>{$vo.name}</td>
			<td>{$vo.spell}</td>
			<td>{$vo.card}</td>
			<td><eq name="vo['sex']" value="1">男</eq><eq name="vo['sex']" value="2">女</eq></td>
			<td>{$vo.depart_id|get_in_department}</td>
			<td>{$vo.uid|get_role}</td>
			<td><span>{$vo.last_login_time|time_format}</span></td>
			<td><span>{:long2ip($vo['last_login_ip'])}</span></td>
			<td>{$vo.status_text}</td>
			<td><eq name="vo.status" value="1">
				<button type="button" class="btn btn-default"><a href="{:U('User/changeStatus?method=forbidUser&id='.$vo['uid'])}" class="ajax-get">禁用</a></button>
				<else/>
				<button type="button" class="btn btn-default"><a href="{:U('User/changeStatus?method=resumeUser&id='.$vo['uid'])}" class="ajax-get">启用</a></button>
				</eq>
				<button type="button" class="btn btn-default"><a href="{:U('AuthManager/group?uid='.$vo['uid'])}" class="authorize">授权</a></button>
				<button type="button" class="btn btn-default"><a href="{:U('AuthManager/repassword?uid='.$vo['uid'])}" class="confirm">重置密码</a></button>
				<button type="button" class="btn btn-default"><a href="{:U('AuthManager/category?user_name='.$vo['name'].'&uid='.$vo['uid'])}">班级授权</a></button>
                <button type="button" class="btn btn-default"><a href="{:U('User/changeStatus?method=deleteUser&id='.$vo['uid'])}" class="confirm ajax-get">删除</a></button>
                </td>
		</tr>
		</volist>
		<else/>
		<td colspan="9" class="text-center">暂时还未填入数据! </td>
		</notempty>
	</tbody>
    </table>
	</div>
    <div class="page">
        {$_page}
    </div>

</block>

<block name="script">
	<!--<script src="__STATIC__/thinkbox/jquery.thinkbox.js"></script>

	<script type="text/javascript">
	//回车搜索
	$(".serach-input-type").keyup(function(e){
		if(e.keyCode === 13){
		var url = $("#xgxt-search-box").attr('url');
		 	var query  = $('.search-type').find('input').serialize();
	        query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g,'');
	        query = query.replace(/^&/g,'');
	        if( url.indexOf('?')>0 ){
	            url += '&' + query;
	        }else{
	            url += '?' + query;
	        }
			window.location.href = url;
			return false;
		}
	});
    //导航高亮
    highlight_subnav('{:U('User/index')}');
	</script>-->
</block>
