<extend name="Public/base"/>

<block name="body">
	<script type="text/javascript" src="__STATIC__/uploadify/jquery.uploadify.min.js"></script>
	<div class="main-title">
		<h2>{:isset($info['id'])?'编辑':'新增'}班级</h2>
	</div>
	<div class="tab-wrap">
		<ul class="tab-nav nav">
			<li data-tab="tab1" class="current"><a href="javascript:void(0);">基 础</a></li>
			<li data-tab="tab2"><a href="javascript:void(0);">高 级</a></li>
		</ul>
		<div class="tab-content">
			<form action="{:U()}" method="post" class="form-horizontal">
				<!-- 基础 -->
				<div id="tab1" class="tab-pane in tab1">
				<if condition="$class['title']">
					<div class="form-item">
						<label class="item-label">学院<span class="check-tips"></span></label>
						<div class="controls">
							<input type="text" class="text input-large" disabled="disabled" value="{$class['title']|default='无'}"/>
						</div>
					</div>
				</if>
					<div class="form-item">
					<if condition="$class['title']">
						<label class="item-label">
							班级名称<span class="check-tips">（名称不能为空）</span>
						</label>
						<div class="controls">
							<input type="text" name="title" class="text input-large" value="{$info.title|default=''}">
						</div>
					<else/>
						<label class="item-label">
							学院名称<span class="check-tips">（名称不能为空）</span>
						</label>
						<div class="controls">
							<input type="text" name="title" class="text input-large" value="{$info.title|default=''}">
						</div>
					</if>
					</div>
					<div class="form-item">
						<label class="item-label">
							分类标识<span class="check-tips">（英文字母）</span>
						</label>
						<div class="controls">
							<input type="text" name="name" class="text input-large" value="{$info.name|default=''}">
						</div>
					</div>
					<div class="form-item">
						<label class="item-label">列表绑定学生信息模型<span class="check-tips">（列表支持发布的学生信息模型）</span></label>
						<div class="controls">
							<volist name=":get_document_model()" id="list">
								<label class="checkbox">
									<input type="checkbox" name="model[]" value="{$list.id}">{$list.title}
								</label>
							</volist>
						</div>
					</div>
					<div class="form-item">
						<label class="item-label">子学生信息绑定模型<span class="check-tips">（子文档支持发布的学生信息绑定模型）</span></label>
						<div class="controls">
							<volist name=":get_document_model()" id="list">
								<label class="checkbox">
									<input type="checkbox" name="model_sub[]" value="{$list.id}">{$list.title}
								</label>
							</volist>
						</div>
					</div>
				</div>

				<!-- 高级 -->
					

				<!-- 高级 -->
				<div id="tab2" class="tab-pane tab2">
					<div class="form-item">
						<label class="item-label">
							排序<span class="check-tips">（仅对当前层级分类有效）</span>
						</label>
						<div class="controls">
							<input type="text" name="sort" class="text input-small" value="{$info.sort|default=0}">
						</div>
					</div>
					<div class="form-item">
						<label class="item-label">
							列表行数
						</label>
						<div class="controls">
							<input type="text" name="list_row" class="text input-small" value="{$info.list_row|default=10}">
						</div>
					</div>

				</div>
					</div>


				<div class="form-item">
					<input type="hidden" name="id" value="{$info.id|default=''}">
					<input type="hidden" name="pid" value="{:isset($class['id'])?$class['id']:$info['pid']}">
					<button type="submit" id="submit" class="btn submit-btn ajax-post" target-form="form-horizontal">确 定</button>
					<button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
				</div>
			</form>
		</div>
	</div>
</block>

<block name="script">
	<script type="text/javascript">
		<present name="info.id">
		Think.setValue("allow_publish", {$info.allow_publish|default=1});
		Think.setValue("check", {$info.check|default=0});
		Think.setValue("model[]", {$info.model|json_encode} || [1]);
		Think.setValue("model_sub[]", {$info.model_sub|json_encode} || [1]);
		Think.setValue("type[]", {$info.type|json_encode} || [2]);
		Think.setValue("display", {$info.display|default=1});
		</present>
		$(function(){
			showTab();
			$("input[name=reply]").change(function(){
				var $reply = $(".form-item.reply");
				parseInt(this.value) ? $reply.show() : $reply.hide();
			}).filter(":checked").change();
		});
		//导航高亮
		highlight_subnav('{:U('Class/index')}');
	</script>
</block>
